@model SportClub.Models.Sport

@{
    ViewBag.Title = "AddInstructors";
}
<h2>Add instructors</h2>

@using (Html.BeginForm()) 
{ 
    @Html.AntiForgeryToken()

  <div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SportID)

    <div> Select instructors for this sport :</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                            int cnt = 0;
                            List<SportClub.ViewModels.AssignedInstructorData> instructors = ViewBag.Instructors;

                            foreach (var instructor in instructors)
                            {
                                if (cnt++ % 1 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:<td>
                                    <input type="checkbox"
                                           name="selectedInstructors"
                                           value="@instructor.ID"
                                           @(Html.Raw(instructor.Assigned ? "checked=\"checked\"" : "")) />
                                    @instructor.ID @:  @instructor.LastName
                                    @:</td>
                            }
                            @:</tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
           @*@Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.StartDate)
             @Html.HiddenFor(model => model.Price)

        <div class="form-group">
           @Html.LabelFor(model => model.InstructorID, "Select Instructors", htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-10">
               @Html.DropDownList("InstructorID", null, htmlAttributes: new { @class = "form-control" })
               @Html.ValidationMessageFor(model => model.InstructorID, "", new { @class = "text-danger" })
           </div>
       </div>  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Save" class="btn btn-default" />
           </div>
        </div>
       <div>
           @Html.DisplayFor(model=> model.InstructorID)
       </div>
   
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.InstructorID, "Select Instructor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InstructorID", null , htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InstructorID, "", new { @class = "text-danger" })
            </div>
        </div>*@
   

    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}