@model SportClub.ViewModels.SportIndexData

@{
    ViewBag.Title = "Sports";
}

<h2><i>Sports</i></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed table-striped">
    <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Price</th>
        @*<th>Instructors</th>*@ 
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Sports)
    {
        string selectedRow = "";
        if (item.SportID == ViewBag.SportID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
             @*   @{
    foreach (var instructor in item.Instructors)
    {
        @instructor.ID @:  @instructor.LastName<br />
              }
            }*@
            
            <td></td>
            <td>
                @Html.ActionLink("Instructors", "Index", new { id = item.SportID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.SportID }) |
                @Html.ActionLink("Add instructors", "AddInstructors", new { id = item.SportID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SportID })
            </td>
        </tr>
    }

</table>



@if (Model.Instructors != null)
{
    <h3>Instructors taught by Selected Sport</h3>
    <table class="table">
        <tr>
            <th>Number</th>
            <th>Last Name</th>
        </tr>

        @foreach (var item in Model.Instructors)
        {
            string selectedRow = "";
            if (item.ID == ViewBag.InstructorID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @item.ID
                </td>
                <td>
                    @item.LastName
                </td>

            </tr>
        }

    </table>
}

